@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

:root {
  --text-color: #444470;
  --subtext-color: #6767ac;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100%;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #7f7fd5, #86a8e7, #91eae4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Fira Code', monospace;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.-choose-mode {
  display: flex;
  width: calc(387px);
  overflow: hidden;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  background-color: rgba(255,255,255, 0.75);
  border: 2px solid var(--text-color);
  border-bottom: 0;
}

.-choose-mode-mode {
  width: 50%;
  color: var(--subtext-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.3rem 0 0.3rem 0;
  cursor: pointer;
}

.-main {
  width: calc(387px - 2rem);
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: rgba(255,255,255, 0.75);
  max-width: 95vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 2px solid var(--text-color);
  border-top: 0;
  box-shadow: rgba(0, 0, 0, 0.288) 0px 5px 10px;
}

.-heading {
  height: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  width: max-content;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: rgba(255,255,255, 0.75);
  max-width: 92vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: 3px;
  border: 2px solid var(--text-color);
  border-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.288) 0px 5px 10px;
}

.-false-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.-main-input-title {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.-main-input-description {
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
  color: var(--subtext-color);
  font-weight: 300;
}

.-main-input {
  width: 350px;
  max-width: 92vw;
  border: 1px solid var(--text-color);
  height: 1.5rem;
  font-size: 1rem;
  color: var(--text-color);
  background-color: transparent;
  border-radius: 0.7rem;
  margin-top: 10px;
  font-family: 'Fira Code', monospace;
  text-indent: 0.6rem;
  outline: 3px solid rgb(0,0,0,0);
  transition-duration: 0.1s;
}

.-background {
  background-color: rgba(255,255,255, 0.75);
}

.-font {
  font-family: 'Fira Code', monospace;
  color: var(--text-color);
}

.-main-textarea {
  width: 350px;
  max-width: 92vw;
  border: 1px solid var(--text-color);
  font-size: 0.65rem;
  color: var(--text-color);
  background-color: transparent;
  border-radius: 0.6rem;
  margin-top: 10px;
  font-family: 'Fira Code', monospace;
  text-indent: 0.6rem;
  outline: 3px solid rgb(0,0,0,0);
  transition-duration: 0.1s;
  resize: vertical;
  border-bottom-right-radius: 0;
}

.-main-youtube-div {
  width: 350px;
  max-width: 92vw;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.-main-youtube-div > input {margin: 0}

.-main-input:focus {
  outline: 2px solid #6767ac80;
}

.-main-input::placeholder {
  color: var(--subtext-color);
  opacity: 0.5;
}

.-main-button {
  width: 100px;
  border: 0;
  background-color: var(--subtext-color);
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  font-weight: 400;
  font-family: 'Fira Code', monospace;
  letter-spacing: 3px;
}

.-main-button:hover {
  background-color: var(--text-color);
}

.-main-button:active {
  background-color: #2b2b46;
}

.-main-showvideo {
  width: 100%;
  max-width: 100%;
  height: 40%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/*maxWidth: '100%', whiteSpace: 'nowrap', textOverflow: 'ellipsis', overflow: 'hidden'*/
.-main-video-title {
  max-width: calc(387px - 140px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}